<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
};
</script>

<style lang="scss">
@import "@/styles/global.scss";
#app {
  font-family: HK Grotesk;
}
</style>
